<div class="row actions">
  <button mat-fab extended (click)="openDailog()">
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Rank Column -->
  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef> Rank.</th>
    <td mat-cell *matCellDef="let element"> {{ element.ranking }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
  </ng-container>

  <!-- Net Points Column -->
  <ng-container matColumnDef="net_points">
    <th mat-header-cell *matHeaderCellDef> Net Points</th>
    <td mat-cell *matCellDef="let element"> {{ element.net_points }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="openDailog(element)"><mat-icon>edit</mat-icon></button>
      <button mat-button (click)="onDelete(element.id)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
